port_allow:
  - 22
  - 80

minions:
  '*':
    - common
    - xmonad
    - virtualbox
    - vagrant
    - theme
    - terminal
    - sublime-text
    - projects

system:
  timezone: Europe/Amsterdam
  locale: en_US.UTF-8

projects:
  # name-of-project:
  #   path: /path/to/project
  #   git: git@somehub.com:user/app.git
